@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: "Dosis", sans-serif;
    background-color: #fff;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
.main{
  overflow: hidden;
}

.logo{
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    color: #5e9a8e;
    margin: 0;
    text-shadow: 1px 1px 2px #999999;
}
.logo img {
    width: 30px;
    height: 25px;
}
p{
    color: #767878;
    line-height: 1.8em;
}

h1.title{
    font-size: 5rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.story-date{
    font-size: 0.77778rem;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}
.ripple, .particleground, .video-player, .surface-shader {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.social-links{
    display: flex !important;
    /* justify-content: center; */
    padding: 0 !important;
}

/*  */

.gallery-section {
    /*** filter ***/
  }
  
  .gallery-section .gallery-filters {
    text-align: left;
    margin-bottom: 35px;
  }
  
  @media (max-width: 767px) {
    .gallery-section .gallery-filters {
      margin-bottom: 30px;
    }
  }
  
  .gallery-section .gallery-filters ul {
    overflow: hidden;
  }
  
  .gallery-section .gallery-filters ul li {
    float: left;
  }
  
  .gallery-section .gallery-filters ul > li + li {
    margin-left: 15px;
  }
  
  .gallery-section .gallery-filters ul li a {
    font-weight: bold;
    color: #3e3e3e;
    display: block;
    text-transform: uppercase;
  }
  
  @media (max-width: 767px) {
    .gallery-section .gallery-filters ul li a {
      font-size: 15px;
      font-size: 0.83333rem;
    }
  }
  
  .gallery-section .gallery-filters ul .current {
    color: #5e9a8e;
  }
  
  .gallery-section .masonry-gallery {
    margin: 0 -7.5px;
  }
  
  @media (max-width: 991px) {
    .gallery-section .masonry-gallery {
      margin: 0 5px;
    }
  }
  
  @media (max-width: 500px) {
    .gallery-section .masonry-gallery {
      margin: 0;
    }
  }
  
  .gallery-section .masonry-gallery .grid {
    width: 33.33%;
    float: left;
    padding: 0 7.5px 15px;
  }
  
  @media (max-width: 991px) {
    .gallery-section .masonry-gallery .grid {
      padding: 0 5px 10px;
    }
  }
  
  @media (max-width: 767px) {
    .gallery-section .masonry-gallery .grid {
      width: 50%;
    }
  }
  
  @media (max-width: 550px) {
    .gallery-section .masonry-gallery .grid {
      width: 100%;
      float: none;
      padding: 0 0 15px;
    }
  }
  
  .gallery-section .grid img {
    -webkit-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
    -o-filter: grayscale(60%);
    -ms-filter: grayscale(60%);
    filter: grayscale(60%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  @media (max-width: 767px) {
    .gallery-section .grid img {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -o-filter: grayscale(0);
      -ms-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
  
  .gallery-section .grid:hover img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
  }
  
  .gallery-section .video-play-btn {
    position: relative;
    display: block;
  }
  
  .gallery-section .video-play-btn i {
    width: 50px;
    height: 50px;
    line-height: 47px;
    font-size: 20px;
    font-size: 1.11111rem;
    background: rgba(94, 154, 142, 0.9);
    border: 3px solid #5c978b;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .gallery-section .video-play-btn:hover i {
    background: #5e9a8e;
  }


.section-title, .section-title-white {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}
.section-title, .section-title-white {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}
.section-title .vertical-line, .section-title-white .vertical-line, .section-title .vertical-line span, .section-title-white .vertical-line span {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.section-title, .section-title-white {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}
.section-title .vertical-line:before, .section-title-white .vertical-line:before {
    content: "";
    background: rgba(94, 154, 142, 0.2);
    width: 45px;
    height: 2px;
    top: 16px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-title .vertical-line span, .section-title-white .vertical-line span {
    background: rgba(94, 154, 142, 0.2);
    width: 2px;
    height: 42px;
    top: 17px;
}
.section-title .vertical-line span i, .section-title-white .vertical-line span i {
    position: absolute;
    left: -34px;
    top: -95px;
}
.section-title .vertical-line span i:before, .section-title-white .vertical-line span i:before {
    margin: 0;
    font-size: 65px;
    font-size: 3.61111rem;
    color: #5e9a8e;
    opacity: 0.6;
}
.flaticon-two:before {
    content: "\f10c";
}
.vertical-line span img{
  width: 70px;
  position: absolute;
  top: -37px;
  left: 50%;
  transform: translateX(-50%);
}

.ivitation-cards{
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.ivitation-cards .ivitation-cards-img{
  width: 800px;
  overflow: hidden;
}
.ivitation-cards .ivitation-cards-img img{
  width: 100%;
}
@media (max-width: 600px) {
  .ivitation-cards .ivitation-cards-img{
    width: 100%;
    padding: 0 15px;
  }
}
canvas{
  width: 100% !important;
}
.audio{
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.line {
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}
.swiper-slide{
  height: 200px !important;
}
.swiper-slide i{
  font-size: 36px;
  color: #5c978b;
  text-align: end;
}
.swiper-slide p{
  font-size: 18px;
}
.swiper-slide span{
  display: block;
  font-size: 20px;
}


.save-the-date{
  height: 350px;
  width: 350px;
  /* background-color: rgba(94, 154, 142, 0.3); */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -180px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.save-the-date-animation{
  height: 350px;
  width: 350px;
  background-color: rgba(94, 154, 142, 0.3);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  animation: save-the-date-pulse 1s;
  animation-iteration-count: infinite;

}

.save-the-date-content{
  height: 320px;
  width: 320px;
  border-radius: 50%;
  background-color: rgba(94, 154, 142, 0.7);
  z-index: 9;
  text-align: center;
}
.save-the-date-content h4{
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  font-size: 2.22222rem;
  color: #fff;
  margin: 55px 0 0.2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.save-the-date-content .date {
  font-size: 1.11111rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
@-webkit-keyframes save-the-date-pulse {
  from {
    transform: scale(1.04);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}

.album-action{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.album-action a{
  font-weight: 600;
  color: #fff;
  display: inline-block;
  background-color: #5e9a8e;
  padding: 10px 20px;
  border-radius: 6px;
}
.love-icon{
  width: 30px;
  height: 25px;
  background-image: url(../images/heart.jpg);
  background-size: cover;
}